<div class="foot-container" [class.dark]="darkText">
  <div id="follow">
    <span>follow on</span><br>
    <a href="https://github.com/techschneiderrr" target="_blank">
      <img src="../../../assets/img/logo-github.svg">
    </a>
    <a id="tg" href="https://www.linkedin.com/in/manav-deep-singh-lamba-8172061a0/" target="_blank">
      <img src="../../../assets/img/linkedin.svg">
    </a>
    <a href="https://twitter.com/manav_lamba_" target="_blank">
      <img src="../../../assets/img/logo-twitter.svg">
    </a>
  </div>
  <div class="links">
    <div class="left low">


      <a target="_blank" href="mailto:manavdeep.singhlamba@gmail.com">Contact</a>
    </div>
    <div class="since low">
      <a>Since 30th April midnight</a>
    </div>
    <div class="low">
        
    </div>
  </div>
</div>